---
# 1. Install Neovim and Dependencies
- name: Install Neovim and related tools
  homebrew:
    name:
      - neovim
      - ripgrep
      - lazygit
      - lua
      - luajit
    state: present

# 2. Deploy Zsh Configuration
- name: Deploy nvim zsh config
  copy:
    src: "{{ role_path }}/files/50-nvim.zsh"
    dest: "~/.config/zsh/conf.d/50-nvim.zsh"
    mode: '0644'

# 3. Deploy Neovim Configuration (Symlink Directory)
- name: Symlink Neovim configuration
  file:
    src: "{{ role_path }}/files/nvim"
    dest: "~/.config/nvim"
    state: link
    force: yes
    follow: no
